<div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
    <a href="javascript:history.back()" class="btn btn-neutral float-left" title="Back" accesskey="p" rel="prev">
        <span class="fa fa-arrow-circle-left"></span> Back</a>
</div>
