---
Language:                         Cpp
BasedOnStyle:                     LLVM
ColumnLimit:                      160
PointerAlignment:                 Left
ReferenceAlignment:               Pointer
Standard:                         c++20
UseTab:                           Never
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations:  Yes
RequiresClausePosition:           OwnLine
IndentRequiresClause:             No
IndentPPDirectives:               BeforeHash
...

