[submodule "third-party/zlib"]
	path = third-party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third-party/abseil-cpp"]
	path = third-party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third-party/pcre2"]
	path = third-party/pcre2
	url = https://github.com/PCRE2Project/pcre2.git
[submodule "third-party/openssl"]
	path = third-party/openssl
	url = https://salsa.debian.org/debian/openssl.git
	branch = debian/buster
[submodule "third-party/curl"]
	path = third-party/curl
	url = https://github.com/VKCOM/curl.git
	branch = dpkg-build-7.60.0
