// -------------------------------------------------------------
// changes to native markup

$linkColor: #0366d6;
$linkColorHover: #107ffc;
$linkColorVisited: #b159b6;


.wy-nav-side {
  background-color: #262c31;
  padding-bottom: 5px;
}

.wy-side-nav-search input[type=text] {
  font-size: 11px;
}

.rst-content .wy-breadcrumbs .page-title-last {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
}

.wy-menu-vertical {
  padding-bottom: 5em;
}

.wy-menu-vertical a {
  color: #f0f0f0;
}

.wy-menu-vertical a:hover {
  background-color: rgba(255, 255, 255, .1);
}

.wy-menu-vertical a, .wy-menu-vertical li.current a, .wy-menu-vertical li.toctree-l2.current > a {
  padding: 7px 18px 7px 23px;
  border-right: 0;
  white-space: nowrap;
}

.wy-menu-vertical li.toctree-l2 > a, .wy-menu-vertical li.toctree-l2.current > a {
  padding-left: 34px;
}

.wy-menu-vertical li.toctree-l1.current > a {
  border: 0;
}

.wy-menu-vertical li.toctree-l2.current:first-child {
  border-top: 1px solid #ccd2d8;
  margin-top: -1px;
  position: relative;
}

.wy-menu-vertical li.toctree-l1.current > a:not(.current) {
  background-color: #e6e9eb;
  font-weight: normal;
  color: #404040;
}

.wy-menu-vertical li.toctree-l2.current > a {
  background-color: #ccd2d8;
}

.wy-menu-vertical li.current a:hover {
  background-color: rgba(255, 255, 255, .2);
}

.wy-menu-vertical li.current a.current {
  background-color: #fff;
}

.wy-menu-vertical li.current {
  background-color: #ccd2d8;
}

.wy-nav-content {
  padding: 25px 46px;
}

.rst-versions .rst-current-version {
  background-color: #101010;
}

h1 {
  font-size: 2em;
  padding-bottom: .3em;
  border-bottom: 1px solid #e6e8eb;
}

h2 {
  font-size: 1.6em;
  padding-top: .5em;
  padding-bottom: .2em;
  border-bottom: 1px solid #f0f2f5;
}

.admonition p + ul {
  margin-top: -0.8em;
}

.btn {
  box-shadow: none;
  font-size: 14px;
  border-radius: 6px;
  line-height: 20px;
  padding: 5px 16px;
}

.rst-footer-buttons {
  margin-top: 2em;
}

.rst-content a:not(.btn) {
  color: $linkColor;

  &:hover {
    color: $linkColorHover;
    text-decoration: underline;
  }

  &:visited {
    color: $linkColorVisited;
  }
}

.rst-content .wy-breadcrumbs a {
  color: $linkColor;

  &:visited {
    color: $linkColor;
  }

  &:hover {
    color: $linkColorHover;
  }
}

.rst-content a.icon, .rst-content a.anchorjs-link {
  &:hover {
    text-decoration: none;
  }

  &:visited {
    color: $linkColor;
  }
}

.rst-content div.highlight {
  border-radius: 6px;
}

.rst-content code {
  border-color: #e1e4e8;
  background-color: #f9fafb;
  font-size: 12px;
  padding: .2em .4em;
  border-radius: 6px;
}

.rst-content a.footer-github {
  margin-left: 10px;
  font-size: 20px;
  margin-top: -10px;
  vertical-align: middle;
  margin-bottom: -6px;
  color: grey;

  &:visited {
    color: grey;
  }
  &:hover {
    color: $linkColorHover;
  }
}

.rst-content a.btn-github-page {
  display: inline-block;
  color: $linkColor;

  > span:first-child { // icon
    vertical-align: top;
    font-size: 26px;
    line-height: 24px;
  }

  > span:last-child { // label
    font-size: 18px;
    vertical-align: top;
    line-height: 26px;
  }

  &:visited {
    color: $linkColor;
  }

  &:hover {
    color: $linkColorHover;
    text-decoration: none;

    > span:last-child {
      text-decoration: underline;
    }
  }
}

// -------------------------------------------------------------
// own markup

a.i-details {
  font-style: italic;
  margin-left: 5px;
}

div.main-definition {
  text-align: center;
  font-size: 16px;
  padding: 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  margin-bottom: 2em;
  background-color: rgba(0,120,255,0.05);
}

p {
  font-size: 16px;
}

p.img-c {
  text-align: center;
}

aside {
  display: table;
  margin-top: 6px;
  margin-bottom: 24px;
  font-size: 90%;
  background: #e7f2fa;
  color: #2980b9;
  border-top: 3px solid #6ab0de;
  padding: 6px;
  font-family: monospace;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
}

aside + aside {
  border-top: 0;
  margin-top: -18px;
}

aside.nooffset {
}

aside:not(.nooffset) + p {
  margin-left: 30px;
  margin-top: -10px;
  padding-bottom: 14px;
}

blockquote.faq {
  border-left: 0;
  margin-left: 0;
  padding: 24px 0 0 0;
  color: #404040;
  font-weight: bold;
  font-size: 18px;

  &:before {
    content: "";
    display: inline-block;
    margin: -5px 14px 0 0;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #6ab0de;
    vertical-align: middle;
  }

  > code {
    background: transparent;
    font-weight: normal;
    font-size: inherit;
    font-family: inherit;
  }
}

p.pay-attention {
  border-left: 5px solid #6ab0de;
  padding-left: 14px;
  line-height: 2em;
}

p.pay-attention.has-bg {
  background-color: rgba(#6ab0de, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}
