name: macos

on:
  push:
    branches:
    - master

env:
  HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: true

jobs:
  build-macos:
    runs-on: ${{matrix.os}}-latest
    strategy:
      matrix:
        include:
          - os: macos
            compiler: clang++
            cpp: 17

    name: "${{matrix.os}}/${{matrix.compiler}}/c++${{matrix.cpp}}"

    steps:
    - uses: actions/checkout@v3
      
      # because of https://github.com/orgs/Homebrew/discussions/4612
    - name: Check Environment
      run: |
        export HOMEBREW_NO_INSTALL_FROM_API=0
        brew untap --force homebrew/cask

    - name: Setup Environment
      run: |
        brew tap shivammathur/php
        brew update
        brew install re2c cmake coreutils openssl libiconv re2 pcre yaml-cpp zstd googletest shivammathur/php/php@7.4
        brew link --overwrite --force shivammathur/php/php@7.4
        /usr/local/Frameworks/Python.framework/Versions/3.12/bin/python3.12 -m pip install --upgrade pip --break-system-packages && /usr/local/Frameworks/Python.framework/Versions/3.12/bin/pip3 install --break-system-packages jsonschema
      
    - name: Run cmake
      run: cmake -DCMAKE_CXX_COMPILER=${{matrix.compiler}} -DCMAKE_CXX_STANDARD=${{matrix.cpp}} -DDOWNLOAD_MISSING_LIBRARIES=On -S $GITHUB_WORKSPACE -B ${{runner.workspace}}/build

    - name: Build all
      run: make -C ${{runner.workspace}}/build -j$(nproc) all
      
    - name: Run unit tests
      run: make -C ${{runner.workspace}}/build -j$(nproc) test

    - name: Compile dummy PHP script
      working-directory: ${{runner.workspace}}/build
      run: |
        echo 'hello world' > demo.php 
        $GITHUB_WORKSPACE/objs/bin/kphp2cpp --cxx ${{matrix.compiler}} demo.php
        kphp_out/server -o
